<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script src="/static/script_podcast.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <br>
    <nav id="menu-nav">
        <div><a class="nav" href="{{ url_for('home') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
        <div><a class="nav" href="{{ url_for('mindmap') }}">Mindmap Generator</a></div>
        <div><a class="nav" href="{{ url_for('strtell') }}">&nbsp;AI Storytelling&nbsp;</a></div>
        <div><a class="nav" href="{{ url_for('podcast') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Podcast&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
    </nav>
    <div id="loading-overlay" style="display: none">
        <div class="loader"></div>
    </div>
    <br><br>
    <h2>Podcast</h2>
    <section id="data">
        <section class="anh" style="text-align: center;">
            <h3>Ảnh</h3>
            <div id="preview"></div>
            <input id="upload-anh" type="file" accept="image/*" style="display: none"/>
            <button id="upload-button" onclick="document.getElementById('upload-anh').click();">Tải ảnh lên</button>
        </section>
        <section class="vanban" style="text-align: center;">
            <h3>Văn bản</h3>
            <textarea id="upload-vanban" style="width: 300px; height: 300px; text-align: start; resize:none;"></textarea>
            <br>
        </section>
    </section>
    <div id="use-div"><button id="use-button">Tiếp tục</button></div>
    <div id="result-section"></div>
</body>
</html>
